In [249]:
List = [100, 200, 300, 400, 500]
List = List[::-1]
List

[500, 400, 300, 200, 100]

In [250]:
L1 = ["M", "Na", "i", "Sun"]
L2 = ["y","me", "s","il"]

In [251]:
L1

['M', 'Na', 'i', 'Sun']

In [252]:
L2

['y', 'me', 's', 'il']

In [253]:
L3 = [i + j for i,j in zip(L1,L2)]

In [254]:
L3

['My', 'Name', 'is', 'Sunil']

In [255]:
List = [1,2,3,4,5,6,7]
List2 = [x ** 2 for x in List]
List2

[1, 4, 9, 16, 25, 36, 49]

In [256]:
List1 = ["Hello ", "Take "]
List2 = ["Dear", "Sir"]
List3 = [x + y for x in List1 for y in List2]
List3

['Hello Dear', 'Hello Sir', 'Take Dear', 'Take Sir']

In [257]:
List1 = [10,20,30,40]
List2 = [100,200,300,400]
for x,y in zip(List1, List2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [258]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
List2 = list(filter(None, List1))
List2

[10, 20, 30, 40]

In [259]:
List = [10,20,30,40,50]
List.insert(1,15)
List

[10, 15, 20, 30, 40, 50]

In [260]:
List.reverse()
List

[50, 40, 30, 20, 15, 10]

In [261]:
List[::-1]

[10, 15, 20, 30, 40, 50]

In [262]:
List[1] = 25

In [263]:
List

[50, 25, 30, 20, 15, 10]

In [264]:
List.append(55)

In [265]:
List

[50, 25, 30, 20, 15, 10, 55]

In [266]:
List.reverse()
List

[55, 10, 15, 20, 30, 25, 50]

In [267]:
List.pop()
List

[55, 10, 15, 20, 30, 25]

In [268]:
List.pop(1)
List

[55, 15, 20, 30, 25]

In [269]:
List = [17,10,9,8,55,32,64,78]
List.sort()
List

[8, 9, 10, 17, 32, 55, 64, 78]

In [270]:
List.sort(reverse = True)
List

[78, 64, 55, 32, 17, 10, 9, 8]

In [271]:
type(List)

list

In [272]:
List.extend([70,80,90,100])
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 100]

In [273]:
List2 = List.extend(["Sunil","Bhanu"])
List2

In [274]:
List.index(80)

9

In [275]:
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 100, 'Sunil', 'Bhanu']

In [276]:
List.remove(100)
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 'Sunil', 'Bhanu']

In [277]:
List.remove("Bhanu")
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 'Sunil']

In [278]:
len(List)

12

In [279]:
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 'Sunil']

In [280]:
List.append(80)
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 'Sunil', 80]

In [281]:
List

[78, 64, 55, 32, 17, 10, 9, 8, 70, 80, 90, 'Sunil', 80]

In [282]:
L = [70,80,90,100,110,120,130]
Temp = L[0]
L[0] = L[- 1]
L[-1] = Temp
L

[130, 80, 90, 100, 110, 120, 70]

In [283]:
L.reverse()
L

[70, 120, 110, 100, 90, 80, 130]

In [284]:
L = [70,80,90,100,110,120,130]
L.reverse()
L

[130, 120, 110, 100, 90, 80, 70]

In [285]:
L.sort()
L

[70, 80, 90, 100, 110, 120, 130]

In [286]:
L.sort(reverse = True)
L

[130, 120, 110, 100, 90, 80, 70]

In [287]:
L1 = [10,20,30,40,50]
L1[1], L1[3] = L1[3],L1[1]
L1

[10, 40, 30, 20, 50]

In [295]:
L1 = [10,20,30,40,50]
for x in L1:
    print(x)

10
20
30
40
50

In [296]:
L1

[10, 20, 30, 40, 50]

In [315]:
L1 = [10,20,30,40,50]
total = 0
for x in range(0, len(L1)):
    total = total + L1[x]
    print(total)

10
30
60
100
150

In [319]:
L1 = [1,2,3,4,5]
result = 1
for x in L1:
    result = result  * x
    print(result)

1
2
6
24
120

In [326]:
L1 = [30,20,10,50,60,78,5,1,3,2,4]
L1.sort()
L1[0]

1

In [328]:
L1[-1]

78

In [329]:
L1[-2]

60

In [1]:
L = [10,20,30,40,50]
Temp = L[0]
L[0] = L[-1]
L[-1] = Temp
L

[50, 20, 30, 40, 10]

In [24]:
L = [10,20,30,40,50]
if (45 in L):
    print("Element is in a List")
else:
    print("Element is not in a List")

Element is not in a List

In [25]:
L = [10,20,30,40,50]
L[1],L[2] = 30,20
L

[10, 30, 20, 40, 50]

In [27]:
len(L)

5

In [28]:
L.clear()

In [29]:
L

[]

In [40]:
L = [10,20,30,40,50]
total = 0
for x in L:
    total = total + x
print(total)

150

In [41]:
L = [10,20,30,40,50]
total = 1
for x in L:
    total = total * x
print(total)

12000000

In [46]:
L = [30,40,50,1,5,7,8,95,10]
L.sort()
L[0]

1

In [47]:
L[-1]

95

In [48]:
L[-2]

50

In [50]:
L

[1, 5, 7, 8, 10, 30, 40, 50, 95]

In [54]:
L[-2:]

[50, 95]

In [58]:
L = [2,3,45,6,7,0,8,9,10,11]
for x in L:
    if x % 2 == 0:
        print(x)

2
6
0
8
10

In [62]:
L = [1,2,3,4,5,6,7,8,9,10]
for x in L:
    if x % 2 != 0:
        print(x)

1
3
5
7
9

In [63]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for x in L:
    if x > 5 and x < 14:
        if x % 2 == 0:
            print(x)

6
8
10
12

In [64]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for x in L:
    if x > 5 and x < 14:
        if x % 2 != 0:
            print(x)

7
9
11
13

In [65]:
L = [-1,-2,-3,-4,-5,6,7,89,10,11]
for x in L:
    if x > 0:
        print(x)

6
7
89
10
11

In [66]:
L = [-1,-2,-3,-4,-5,6,7,89,10,11]
for x in L:
    if x < 0:
        print(x)

-1
-2
-3
-4
-5

In [68]:
L = [-1,-2,-3,-4,-5,6,7,89,10,11]
for x in L:
    if x > -4 and x < 0 :
        print(x)

-1
-2
-3

In [70]:
L = [10,20,30,40,50,60]
L2  = [70,80,90,100]
Temp = L
L = L2
L2  = Temp
print(L)
print(L2)

[70, 80, 90, 100]
[10, 20, 30, 40, 50, 60]

In [73]:
L = [10,20,30,40,50]
for x in L:
    if (x != 20 and x != 30):
        print(x)

10
40
50

In [83]:
L = [10,20,30,40,50]
L2 = L.copy()
L2

[10, 20, 30, 40, 50]